*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%; 
}
.pozadina_forma{
    height: 100%;
    background-image: url("slike/pozadina_forma4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
}
.Reg_forma{
    width: 600px;
    background-color: black;
    color: #ffffff;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.imeIprezime{
    width: 80%;
    height: 200px;
    width: 600px;
    color: #ffffff;
    background-color: rgb(0,0,0,0.5);
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
}
#ime{
    width: 150px;
    border-radius: 8px;
    box-shadow: 2px 2px black;
    text-transform:capitalize;
    text-align: center;
    text-decoration: none;
    font-size:16px;
    cursor: pointer;
}
#prezime{
    width: 150px;
    border-radius: 8px;
    box-shadow: 2px 2px black;
    text-transform:capitalize;
    text-align: center;
    text-decoration: none;
    font-size:16px;
    cursor: pointer;
}
#ime_labela{
    font-size: 16px;
}
#ime_prezime{
    font-size: 16px;
}
.dugme{
    font-size: 16px;
}
.dugme_nazad{
    margin-left: 555px;
}
@media (max-width: 800px) {
    .dugme_nazad{
        margin-left: 260px;
    }
}
@media (max-width: 620px) {
    .Reg_forma{
        width: 350px;
    }  
    .imeIprezime{
        width: 80%;
        height: 250px;
        width: 350px;
    }
    .dugme_nazad{
        margin-left: 180px;
    }
}
@media (max-width: 450px) {
    .dugme_nazad{
        margin-left: 100px;
    }
}
@media (max-width: 360px) {
    .Reg_forma{
        width: 250px;
    }  
    .imeIprezime{
        width: 80%;
        height: 300px;
        width: 250px;
    }
    .dugme_nazad{
        margin-left: 59px;
    }
}