*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%; 
}
.pozadina_stranica_sa_pitanjima{
    height: 100%;
    background-image: url("slike/pozadina_pitanja2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
}
.pitanje{
    width: 600px;
    height: 225px;
    color: #ffffff;
    background-color: rgb(0,0,0,0.5);
    margin: auto;
    padding: 10px 10px;
    font-family:sans-serif;
}
.dugme {
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  position: relative;
  left: 220px;
  top: 33px;
 }
.izadji_iz_kviza{
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  position: relative;
  left: -5px;
  top: 125px;
  display: none;
}
.sledece_pitanje {
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  position: relative;
  left: 305px;
  top: 125px;
  display: none;  
}
.brojac{
  display: none; 
}
.tekst{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    word-spacing: 0.5px;
    text-shadow: 1px 1px black;
}
#odgovor_prvi{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:100px;
    position: relative;
    left: -110px;
    top: 0px;
    display: none;
}
#odgovor_drugi{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:100px;
    position: relative;
    left: -65px;
    top: 0px;
    display: none;
}
#odgovor_treci{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:100px;
    position: relative;
    left: 170px;
    top: 37px;
    display: none;
}
#odgovor_cetvrti{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:100px;
    position: relative;
    left: 215px;
    top: 37px;
    display: none;
}
#odgovor_na_dopunu{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:120px;
    position: relative;
    top:10px;
    left:-55px;
    display: none;
}
#potvrdi_odgovor{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:120px;
    position: relative;
    top:60px;
    left:-178px;
    display:none;
}
#tacan_odgovor{
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width:120px;
    position: relative;
    top:0px;
    left: 210px;
    top: 63px;
    left: -180px;
    display:none;
}