*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%; 
}
.pozadina_forma{
    height: 100%;
    background-image: url("slike/pozadina_forma4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
}
.Reg_forma{
    width: 600px;
    background-color: black;
    color: #ffffff;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
form{
    width: 600px;
    color: #ffffff;
    background-color: rgb(0,0,0,0.5);
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#imeIprezime{
    width: 80%;
    height: 200px;
}
.ime{
    margin-left:225px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 8px;
    padding: 0px 22px;
    font-size: 14px;
    width:150px;
    color: #000000;
    cursor: pointer;
}
.labela_ime{
    margin-left:285px;
    margin-top: 0px;
    text-transform: capitalize;
    font-size: 14px;
    color: white;
}
.prezime{
    margin-left:225px;
    margin-top: 0px;
    border-radius: 8px;
    padding: 0px 22px;
    font-size: 14px;
    width:150px;
    columns: #000000;
    cursor: pointer;
}
.labela_prezime{
    margin-left:270px;
    margin-top: 0px;
    text-transform: capitalize;
    font-size: 14px;
    color: white;
}
.dugme_za_napred {
    margin-top: 5px;
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-left: 350px;

}
.dugme_za_nazad {
    margin-left: 260px;
    margin-top: 5px;
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 200px;
}
@media (max-width: 700px) {
.Reg_forma{
    width: 300px;
    }
form{
    width: 300px;
    height: 375px;
    }
.ime{
    margin-left:68px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.labela_ime{
    margin-left:125px;
    margin-top: 0px;
}
.prezime{
    margin-left:68px;
    margin-top: 0px;
}
.labela_prezime{
    margin-left:112px;
    margin-top: 0px;
}
}