.rating{
    margin-left:10%;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 0.5px;
}
.votes{
    margin-left:10px;
    width: 100px;
    border: none;
    outline: white;
    background-color: #4169E1;
    color: white;
    border-radius: 6px;
}
.votes:hover{
    background-color: #000080;
}