.list_item{ 
    width: 500px;
    background: #FFFAF0;
    position: relative;
    top: 15px;
    left: 440px;
    font-size: 20px;
    color: #2F4F4F;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-right: solid 2px #000000;
    border-bottom: solid 2px #000000;
}
.list_item:hover{
    background-color:#DCDCDC;
    cursor: pointer;
}
.delete_button{
    width: 100px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 650px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
    background: green;
}
.delete_button:hover{
    cursor: pointer;
}
a {
    text-decoration: none;
}