*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("images/pozadina2.png");
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; background-size: cover;
}
.buttons{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Centrira div na sredinu stranice*/
    font-family: Arial, Helvetica, sans-serif;
}
.sign_in{
    margin-right: 10px;
    width: 100px;
}
.register{
    width: 100px;
}